.budget-main {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(138, 135, 135);
    padding: 10%;
    margin-top: 10%;
    color: rgb(211, 210, 210);;
    border-radius: 10px;
    background: rgba(0, 200, 207, 0.219);
}

.budget-cost {

    text-align: right;
}

.all-selected {

    color: rgb(211, 210, 210);;
    margin-top: 10%;
    border: 1px solid grey;
    padding: 10%;
    border-radius: 10px;
    background: rgba(0, 200, 207, 0.219);
}

.select-title {

    margin-bottom: 10%;
}