.main-section {

    /* background-image: url(../../images/jungle.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-overlay {

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background: rgb(68, 68, 68);
    padding: 4%;
}