.header {

    text-align: center;
    /* background-color: rgb(168, 186, 202); */
    background-image: url(../../images/mammals-400x300.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
}

.header-text {

    background-color: rgba(3, 20, 36, 0.678);
    color: white;
    padding: 5%;
}